<form method="post" action="{{ path('account_delete', {'id': account.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer votre compte de La Nîmes\'alerie ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ account.id) }}">
    <button class="btn btn-outline-danger">Supprimer</button>
</form>
