body{
    background-color: #F9F3F3;
    color: #2f3640;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}
#title{
    font-family: 'Zen Dots', cursive;
}

#cover{
    max-height: 250px;
}

.sections {
    background-color: rgba(255, 255, 255, 0.5);
}

.sections p {
    text-align: justify;
}

a{
    text-decoration: none;
    color: #2f3640;
}

a:hover{
    color: #70a1ff;
}

#img-card{
    max-height: 250px;
}

#avis img{
    max-width: 75px;
    font-weight: normal;
}

.avis{
    border: 0.5px black solid;
    border-radius: 15px;
}

footer{
    background-color: #ced6e0;
}

#reseaux img{
    max-width: 30px;
}

#reseaux a{
    text-decoration: none;
}

#reseaux p{
    text-align: center;
}

#paiement{
    text-align: center;
}

#paiement img{
    max-width: 100px;
}

#livraison img{
    max-height: 50px;
}

#livraison{
    text-align: center;
}

#contact{
    text-align: center;
}

#contact li{
    list-style-type: none;
}

#contact a{
    text-decoration: none;
    color: #2f3640;
}

#contact a:hover{
    color: #70a1ff;
}

.old-price {
    text-decoration: line-through;
}